# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment files
.env

# Uploads & media
uploads/
*.jpg
*.jpeg
*.png
*.gif

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database or cache files
*.sqlite3
